* {
    -fx-font-family: "Segoe UI";
    -fx-focus-color: transparent;
}

.label-text {
    -fx-font-size: 18;
}
.button-menu {
    -fx-font-family: "SF Pro Display";
    -fx-background-color: #CDCDCD;
    -fx-effect: dropshadow(gaussian, #4A4A4A, 2, 0.1, 0, 1);
}
.button-menu:hover {
    -fx-background-color: #0096C9;
    -fx-text-fill: #F4F4F4;
}